<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         colors="true"
         verbose="true">

    <testsuites>
        <testsuite name="Generator Unit Tests">
            <directory suffix="Test.php">Generator/tests/</directory>
        </testsuite>
        <testsuite name="Pool Unit Tests">
            <directory suffix="Test.php">Pool/tests/</directory>
        </testsuite>
            <testsuite name="DS Unit Tests">
            <directory suffix="Test.php">DS/tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">Generator/src/</directory>
            <directory suffix=".php">Pool/src/</directory>
            <directory suffix=".php">DS/src/</directory>
        </whitelist>
    </filter>
</phpunit>